# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt
!triggered-txs-mode-1-example.cc
!mu-ul-example.cc
!basic-example.cc

